@import "tailwindcss";

@theme {
  /* Background colors */
  --color-white-background: #eeeeee;

  /* Selection colors */
  --color-black-text: #151515;
  --color-green-logo: #2ba78c;
  --color-gray: #a1a1a1;

  --text-nav: 20px;
  --text-logo: 30px;
}
