@import "tailwindcss";

@theme {
  /* Background colors */
  --color-white-background1: #eeeeee;
  --color-white-background2: #f7f7f7;

  /* Selection colors */
  --color-black-text: #151515;
  --color-green-logo: #2ba78c;
  --color-gray: #a1a1a1;
  --color-gray-light: #c6c6c6;
  --color-gray-dark: #5b5b5b;
  --color-black: #000000;
  --color-white: #ffffff;
  --color-gray-border: #dedede;
  --color-green-soft: #2ba78c1a;

  --text-nav: 20px;
  --text-logo: 30px;

  --shadow-species: 0 8px 24px #00000033;
}

@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}
